<B>e-breadboard (v${ebr.version})</B> is an opensource framework to enable software
component integration and workflow manipulation, with re-useable components.
<BR/>
It is developed on top of the Java Platform Enterprise Edition,
enabling it to be deployed on standard java application servers.
<BR/>
Mutiple programming languages and platform are supported
and it can scale from small desktop to large enterprise server level deployments.
