@import "../valo/valo.scss";

@mixin ebr {
  @include valo;

  /* An actual theme rule */
  .v-button {
    color: blue;
  }


  &.v-app {
      font-size: 13px;
      line-height: 20px;
      height: 100% !important;
  }

  /*
   * Headings should not add margins.
   */
  h1, h2, h3, h4, ol, ul {
      margin: 0px;
  }

  .v-label h2 {
      padding: 0px;
  }

  /*
   * Application global style
   */
  .v-app {
      background: #ffffff url(img/gradient.png) repeat-x bottom left;
  }

   .ebr-main-layout {
      position: relative !important;
  }

   .v-horizontallayout-ebr-top-bar {
    width: 100%;
        height: 32px !important;
  }

  /*
   * Toolbar
   */
  .v-horizontallayout-ebr-toolbar {
      background: #a2dced url(img/gradient.png) repeat-x bottom left;
      height: 32px !important;

      /*margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        margin-top: 5px;*/
        margin: 0px;
        padding:0px;
  }


  .v-menubar {
      background-image: none;
      background: transparent;
      /*border: none;*/
      height: 32px !important;
  }

  .v-menubar-menuitem {
     background-image: none;
      background: transparent;
       /*height: 32px !important;*/

       color: #222;
      font-size: 0.95em;
      font-weight: bold;
      font-family: Arial, Verdana, Helvetica, sans-serif;
      text-align: left;
      text-shadow: none;
  }

  .v-menubar-submenu {
      background: #a2dced url(img/gradient.png) repeat-x bottom left;
      border: none;
  }



  /*
  .v-menubar > .v-menubar-menuitem {
      background: transparent;
      border: none;
  }

  .v-menubar > .v-menubar-menuitem{
        background: transparent;
      background-image: none;
      -background-image: none;
  }

  .ebr-toolbar .v-button,.ebr-toolbar .v-button-wrap,
      .ebr-toolbar .v-button:focus .ebr-toolbar .v-button:active,
      .ebr-toolbar .v-button.v-pressed,.ebr-toolbar .v-disabled.v-button,
      .ebr-toolbar .v-button:focus .v-button-wrap, .v-menubar
      {
      display: inline;
      color: #222;
      font-size: 0.95em;
      font-weight: bold;
      font-family: Arial, Verdana, Helvetica, sans-serif;
      text-align: left;
      text-shadow: none;
      border: none;
      height: 25px !important;
      background: transparent;
      background-image: none;
      -background-image: none;

      border: none;
  }


  .ebr-toolbar .v-button:focus .v-button-wrap {
      outline: 1px inset grey;
  }


  .ebr-toolbar .v-button span {
      background: transparent;
      border: none;
  }

  .ebr-toolbar .v-button-caption {
      text-shadow: none;
  }

  .ebr-toolbar .v-horizontallayout-margin {
      padding: 4px;
  }
  */

  /*
   * contextbar
   * /
  .v-horizontallayout-ebr-contextbar{
      background: #ffffff url(img/gradient.png) repeat-x bottom left;
      / *height: 35px;* /
      border: none;
      font-size: 0.95em;
      font-weight: bold;
      font-family: Arial, Verdana, Helvetica, sans-serif;
      text-align: center;
      text-shadow: none;
      border: none;
      height: 32px;
  }

  .ebr-contextbar .v-horizontallayout-margin,
      .ebr-contextbar .v-verticallayout-margin {
      padding: 0px 0px 0px 0px;
  }

  .ebr-bread-crumbs .v-horizontallayout-margin {
      padding: 0px;
  }

  .ebr-contextbar .v-caption-ebr-logo{
      / * Without this IE7 adds a margin above the logo * /
      height: 0px;
  }

  .ebr-logo img{
      height: 30px;
      padding: 1px;
      vertical-align:middle;
  }

*/
}
