<table width="600px" align="center" cellspacing="0" border="1"
    cellpadding="10"
    style="color: #fff;
    padding: 20px;
    background: #31629E">
    <tr>
        <td align="center" colspan="2">
        <h1 style="margin-top: 0;">Simple app Html Template</h1>
        </td>
    </tr>
    <tr>
        <td align="right">my component 1:</td>
        <td>
        <div location="my_component1"></div>
        </td>
    </tr>
    <tr>
        <td align="right">my component 2:</td>
        <td>
        <div location="my_component2"></div>
        </td>
    </tr>
    <tr>
        <td align="right">my component:</td>
        <td>
        <div location="my_component3"></div>
        </td>
    </tr>
</table>


