<table width="600px" align="center" cellspacing="0" border="1"
    cellpadding="10"
    style="color: #fff;
    padding: 20px;
    background: #31629E">
    <tr>
        <td align="center" colspan="2">
        <h1 style="margin-top: 0;">Custom Html Layout</h1>
        </td>
    </tr>
    <tr>
        <td align="right">TaskTitle</td>
        <td>
        <div location="TaskTitle"></div>
        </td>
    </tr>
    <tr>
        <td align="right">TaskDescription</td>
        <td>
        <div location="TaskDescription"></div>
        </td>
    </tr>
    <tr>
        <td align="right">TaskId</td>
        <td>
        <div location="TaskId"></div>
        </td>
    </tr>
    <tr>
        <td align="right">
        <div location="session_int.caption"></div>
        <div location="session_int.description"></div>
        </td>
        <td>
        <div location="session_int"></div>
        </td>
    </tr>
    <tr>
        <td align="right">String In</td>
        <td>
        <div location="str_in"></div>
        </td>
    </tr>
    <tr>
        <td><div location="date_time.caption"></div></td>
        <td>
        <div location="date_time"></div>
        </td>
    </tr>
    <tr>
        <td align="right">String Out</td>
        <td>
        <div location="str_out"></div>
        </td>
    </tr>
    <tr>
        <td align="right">
        <div location="example_ns:session_str.caption"></div>
        <div location="example_ns:session_str.description"></div>
        </td>
        <td>
        <div location="example_ns:session_str"></div>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
        <div location="a_image"></div>
        </td>
    </tr>
    <tr>
        <td align="right">arbitrary text</td>
        <td>
        <div location="arbitrary_text"></div>
        </td>
    </tr>
    <tr>
        <td align="right">arbitrary html</td>
        <td>
        <div location="arbitrary_html"></div>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
        <table>
            <tr>
                <td>
                <div location="Run"></div>
                </td>
                <td>
                <div location="run1"></div>
                </td>
                <td>
                <div location="run2"></div>
                </td>
                <td>
                <div location="Reset"></div>
                </td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div location="Status"></div>
        </td>
    </tr>
</table>


